<div class="modal-header">
  <h4 class="modal-title">{{ this.title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- add -->

<div *ngIf="!this.edit && !this.details && this.id_competence =='-1'" class="modal-body">
  <form name="fadd" (ngSubmit)="onSubmit(fadd,'add')" #fadd="ngForm" novalidate>
    <div class="input-group">
      <span class="input-group-prepend"
        ><label class="input-group-text"
          ><i class="icofont icofont-file-text"></i></label
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Libelle"
        name="libelle"
        ngModel
        #libelle="ngModel"
        required
      />
    </div>
    <div *ngIf="libelle.invalid && libelle.touched" class="alert alert-danger p-2" role="alert">
      <span >Libelle Obligatoire !!</span>
    </div>
    <div class="input-group">
      <span class="input-group-prepend"
        ><label class="input-group-text"
          ><i class="icofont icofont-graduate-alt"></i></label
      ></span>
      <select
        ngModel="{{ -1 }}"
        #niveau="ngModel"
        name="niveau"
        class="form-control"
        required
      >
        <option disabled value="-1">Séléctionner votre niveau</option>
        <!-- <ng-container *ngFor="let voiture of this.voitureList;let i=index;"> -->
        <option value="0">Débutant</option>
        <option value="1">Amateur</option>
        <option value="2">Intermédiaire</option>
        <option value="3">Avancé</option>
        <option value="4">Expert</option>

      </select>

    </div>
    <div *ngIf="(niveau.touched&&niveau.value==-1)" class="alert alert-danger p-2" role="alert">
          <span>Niveau obligatoire !! </span>
    </div>

    <div class="modal-footer">
      <input value="Confirmer" [disabled]="fadd.invalid||niveau.value=='-1'" type="submit" class="btn btn-outline-primary" />
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Fermer
      </button>
    </div>
  </form>
</div>
<!-- update -->
<div  *ngIf="this.edit && this.details && this.id_competence =='-1'" class="modal-body">
  <form name="fupdate" (ngSubmit)="onSubmit(fupdate,'update')" #fupdate="ngForm" novalidate>
    <div class="input-group">
      <span class="input-group-prepend"
        ><label class="input-group-text"
          ><i class="icofont icofont-file-text"></i></label
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Libelle"
        name="libelle"
        [(ngModel)]="this.details.libelle"
        #libelle="ngModel"
        required
      />
        <!-- [ngClass]="{ 'is-invalid': libelle.invalid && libelle.touched }" -->
      <div *ngIf="libelle.invalid && libelle.touched" class="invalid-feedback">
        <div *ngIf="libelle.errors.required">Libelle Obligatoire !!</div>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-prepend"
        ><label class="input-group-text"
          ><i class="icofont icofont-graduate-alt"></i></label
      ></span>
      <select
        [(ngModel)]="this.details.niveau"
        #niveau="ngModel"
        name="niveau"
        class="form-control"
        required
      >
          <option value="0">Débutant</option>
          <option value="1">Amateur</option>
          <option value="2">Intermédiaire</option>
          <option value="3">Avancé</option>
          <option value="4">Expert</option>
      </select>
    </div>
    <div class="modal-footer">
      <input value="Confirmer" [disabled]="fupdate.invalid" type="submit" class="btn btn-outline-primary" />
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Fermer
      </button>
    </div>
  </form>
</div>
