<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img
          class="profile-bg-img img-fluid"
          src="assets/images/user-profile/bg-img1.jpg"
          alt="bg-img"
        />
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a class="profile-image">
                <img
                  class="user-img img-radius"
                  id="profil-photo"
                  [src]="profil.photo"
                  alt="user-img"
                />
              </a>
            </div>
            <div class="media-body row">
              <div>
                <div class="pull-right cover-btn">
                  <div
                    class="file-upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  >
                    <button class="btn btn-primary m-b-10 m-r-10">
                      <input
                        type="file"
                        accept="image/*"
                        (change)="changephoto($event)"
                        name="FileAttachment"
                        id="FileAttachment"
                        class="upload"
                      />
                      <i class="icofont icofont-plus"></i>
                      PHOTO
                    </button>
                  </div>
                  <script>
                    document.getElementById("FileAttachment").onchange =
                      function () {
                        document.getElementById("fileuploadurl").value =
                          this.value.replace(/C:\\fakepath\\/i, "");
                      };
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset [activeId]="actifTabid">
        <ngb-tab title="Informations d'Entreprise" [id]="0">
          <ng-template ngbTabContent>
            <div  class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <button
                    id="edit-btn"
                    type="button"
                    class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()"
                  >
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile&&profil">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Nom entreprise</th>
                                      <td>{{ profil.nom_entreprise }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">N° registre commercial</th>
                                      <td>{{ profil.num_reg_commerce }}</td>
                                    </tr>
                                    <tr *ngIf="profil.site_web">
                                      <th scope="row">Site web</th>
                                      <td>
                                        <a [href]="'http://'+profil.site_web" target="_blank">{{ profil.site_web }}</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Localisation</th>
                                      <td>
                                        {{
                                          (profil.localisation+(profil.adresse?", "+profil.adresse:''))
                                        }}
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Domaine</th>
                                      <td>
                                        {{
                                          profil.libelle_domaine
                                        }}
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile&&profil">
                    <div class="row">
                      <div class="col-lg-12">
                        <form
                          name="form"
                          (ngSubmit)="submit(fentreprise,'entreprise')"
                          #fentreprise="ngForm"
                          novalidate
                        >
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-company"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="nom_entreprise"
                                              required
                                              [(ngModel)]="profil.nom_entreprise"
                                              #nom_entreprise="ngModel"
                                              class="form-control"
                                              placeholder="Nom entreprise"
                                            />
                                          </div>
                                          <div
                                            *ngIf="nom_entreprise.invalid && nom_entreprise.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le nom d'entreprise
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-barcode"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="num_reg_commerce"
                                              required
                                              [(ngModel)]="
                                                profil.num_reg_commerce
                                              "
                                              #num_reg_commerce="ngModel"
                                              class="form-control"
                                              placeholder="N° registre commercial"
                                            />
                                          </div>
                                          <div
                                            *ngIf="num_reg_commerce.invalid && num_reg_commerce.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le N° registre commercial
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-web"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="url"
                                              name="site_web"
                                              [(ngModel)]="
                                                profil.site_web
                                              "
                                              #site_web="ngModel"
                                              class="form-control"
                                              placeholder="Site web"
                                            />
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->

                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-brand-myspace"
                                                ></i></label
                                            ></span>
                                            <select
                                              ngModel="{{
                                                profil.id_domaine
                                              }}"
                                              #libelle_domaine="ngModel"
                                              name="libelle_domaine"
                                              class="form-control"
                                              required
                                            >
                                              <option value="1">
                                                Mécanique
                                              </option>
                                              <option value="2">
                                                Informatique
                                              </option>
                                              <option value="3">
                                                Electrique
                                              </option>
                                              <option value="4">
                                                Génie civil
                                              </option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-location-pin"
                                                ></i></label
                                            ></span>
                                            <select
                                              ngModel="{{
                                                profil.localisation
                                              }}"
                                              #localisation="ngModel"
                                              name="localisation"
                                              class="form-control"
                                            >
                                              <option *ngFor="let ville of getLocalisation()" [value]="ville">
                                                {{ville}}
                                              </option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-location-pin"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="adresse"
                                              [(ngModel)]="
                                                profil.adresse
                                              "
                                              #adresse="ngModel"
                                              class="form-control"
                                              placeholder="Adresse entreprise"
                                              required
                                            />
                                          </div>
                                          <div
                                            *ngIf="adresse.invalid && adresse.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir l'adresse de l'entreprise
                                          </div>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                            <div class="text-center">
                              <button
                              [disabled]="fentreprise.invalid"
                                type="submit"
                                class="btn btn-primary waves-effect waves-light m-r-20"
                                >Enregistrer
                              </button>
                              <a
                                href="javascript:;"
                                id="edit-cancel"
                                class="btn btn-default waves-effect"
                                (click)="toggleEditProfile(true)"
                                >annuler</a
                              >
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </form>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Informations Personnelles" [id]="1">
          <ng-template ngbTabContent>
            <div  class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <button
                    id="edit-btn"
                    type="button"
                    class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()"
                  >
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile && profil">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Nom complet</th>
                                      <td>{{ profil.nom+" "+profil.prenom }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Date naissance</th>
                                      <td>
                                        {{
                                          profil.date_naissance
                                            | date: "dd/MM/yyyy"
                                        }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">N° Téléphone</th>
                                      <td>{{ profil.num_tel }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>
                                        {{ profil.email }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>

                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile && profil">
                    <div class="row">
                      <div class="col-lg-12">
                        <form
                          name="form"
                          (ngSubmit)="submit(fresp_profil,'responsable')"
                          #fresp_profil="ngForm"
                          novalidate
                        >
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-user"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="nom"
                                              required
                                              [(ngModel)]=" profil.nom"
                                              #nom="ngModel"
                                              class="form-control"
                                              placeholder="Nom"
                                            />
                                          </div>
                                          <div
                                            *ngIf="nom.invalid && nom.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le nom
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-user"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="prenom"
                                              required
                                              [(ngModel)]=" profil.prenom"
                                              #prenom="ngModel"
                                              class="form-control"
                                              placeholder="Prénom"
                                            />
                                          </div>
                                          <div
                                            *ngIf="prenom.invalid && prenom.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le prénom
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-calendar"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="date"
                                              onkeydown="return false"
                                              name="date_naissance"
                                              required
                                              ngModel="{{ profil.date_naissance| date: 'yyyy-MM-dd'}}"
                                              #date_naissance="ngModel"
                                              class="form-control"
                                              max="{{this.actualDate| date: 'yyyy-MM-dd'}}"
                                            />
                                          </div>

                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-phone"
                                                ></i
                                              ></label>
                                            </span>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="N° Téléphone"
                                              required
                                              [(ngModel)]=" profil.num_tel"
                                              #num_tel="ngModel"
                                              name="num_tel"
                                            />
                                          </div>
                                          <div
                                            *ngIf="num_tel.invalid && num_tel.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le N° téléphone
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-email"
                                                ></i
                                              ></label>
                                            </span>
                                            <input
                                              type="email"
                                              class="form-control"
                                              placeholder="Email"
                                              required
                                              [(ngModel)]="
                                                 profil.email
                                              "
                                              #email="ngModel"
                                              name="email"
                                            />
                                          </div>
                                          <div
                                            *ngIf="email.invalid && email.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir l'email
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                            <div class="text-center">
                              <button
                              [disabled]="fresp_profil.invalid"
                                type="submit"
                                class="btn btn-primary waves-effect waves-light m-r-20"
                                >Enregistrer
                              </button>
                              <a
                                href="javascript:;"
                                id="edit-cancel"
                                class="btn btn-default waves-effect"
                                (click)="toggleEditProfile(true)"
                                >annuler</a
                              >
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </form>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
    </div>
  </div>
</div>
