<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a class="profile-image">
                <img class="user-img img-radius" id="profil-photo" [src]="profil&&profil.photo" alt="user-img">
              </a>
            </div>
            <div class="media-body row">

              <div>
                <div class="pull-right cover-btn">
                  <div
                    class="file-upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    <button class="btn btn-primary m-b-10 m-r-10">
                      <input type="file" accept="image/*" (change)="changephoto($event)" name="FileAttachment"
                        id="FileAttachment" class="upload" />
                      <i class="icofont icofont-plus"></i>
                      PHOTO
                    </button>
                  </div>
                  <script>
                    document.getElementById("FileAttachment").onchange = function () {
                      document.getElementById("fileuploadurl").value = this.value.replace(/C:\\fakepath\\/i, '');
                    };

                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset [activeId]="actifTabid">
        <ngb-tab title="Informations Personnels" [id]="0">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Nom</th>
                                      <td>{{profil&&profil.nom}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Prénom</th>
                                      <td>{{profil&&profil.prenom}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Date naissance</th>
                                      <td>{{profil&&profil.date_naissance|date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Identité utilisateur</th>
                                      <td>{{profil&&profil.cin&&profil.cin}}</td>
                                      <td>{{profil&&profil.num_passport&&profil.num_passport}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">N°Téléphone</th>
                                      <td>{{profil&&profil.num_tel}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>
                                        <a>{{profil&&profil.email}}</a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Département</th>
                                      <td>{{profil&&profil.libelle}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">C.V</th>
                                      <td>
                                        <a *ngIf="profil&&profil.cv" [href]="profil&&profil.cv"
                                          target="_blank">OUVRIR</a>
                                        <span *ngIf="profil&&profil.cv==null">AUCUN C.V</span>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <form name="form" (ngSubmit)="submit(fprofil)" #fprofil="ngForm" novalidate>
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="nom" required [(ngModel)]="profil&&profil.nom"
                                              #nom="ngModel" class="form-control" placeholder="Prénom" />
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="prenom" required
                                              [(ngModel)]="profil&&profil.prenom" #prenom="ngModel" class="form-control"
                                              placeholder="Prénom" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="date" onkeydown="return false" name="date_naissance" required
                                              [(ngModel)]="profil&&profil.dns" #date_naissance="ngModel"
                                              class="form-control" max="{{this.actualDate | date:'yyyy-MM-dd'}}" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="identite" required
                                              [(ngModel)]="profil&&profil.cin?profil.cin:profil.num_passport"
                                              #identite="ngModel" class="form-control"
                                              placeholder="Identité utilisateur" />
                                          </div>
                                        </td>
                                      </tr>


                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->

                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <input type="tel" class="form-control" placeholder="N°Téléphone" required
                                              [(ngModel)]="profil&&profil.num_tel" #tel="ngModel" name="tel" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <input type="email" class="form-control" placeholder="Email" required
                                              [(ngModel)]="profil&&profil.email" #email="ngModel" name="email" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <select ngModel="{{ profil&&profil.id_departement }}"
                                              #id_departement="ngModel" name="id_departement" class="form-control"
                                              required>
                                              <option value="3">Technologie de l'informatique</option>
                                              <option value="4">Agro alimentaire</option>
                                              <option value="5">Mécanique</option>
                                              <option value="6">Electrique</option>
                                              <option value="7">Génie civil</option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <!-- <input type="file" class="form-control" (change)="changecv($event)" /> -->
                                          </div>
                                        </td>
                                      </tr>


                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                            <div class="text-center">
                              <a href="javascript:;"
                                class="btn btn-primary waves-effect waves-light m-r-20">Enregistrer</a>
                              <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect"
                                (click)="toggleEditProfile()">annuler</a>
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </form>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Entreprise" [id]="1">
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()">
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Nom</th>
                                      <td>{{profil&&profil.nom}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Prénom</th>
                                      <td>{{profil&&profil.prenom}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Date naissance</th>
                                      <td>{{profil&&profil.date_naissance|date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Identité utilisateur</th>
                                      <td>{{profil&&profil.cin&&profil.cin}}</td>
                                      <td>{{profil&&profil.num_passport&&profil.num_passport}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">N°Téléphone</th>
                                      <td>{{profil&&profil.num_tel}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>
                                        <a>{{profil&&profil.email}}</a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Département</th>
                                      <td>{{profil&&profil.libelle}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">C.V</th>
                                      <td>
                                        <a *ngIf="profil&&profil.cv" [href]="profil&&profil.cv"
                                          target="_blank">OUVRIR</a>
                                        <span *ngIf="profil&&profil.cv==null">AUCUN C.V</span>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <form name="form" (ngSubmit)="submit(fprofil)" #fprofil="ngForm" novalidate>
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="nom" required [(ngModel)]="profil&&profil.nom"
                                              #nom="ngModel" class="form-control" placeholder="Prénom" />
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="prenom" required
                                              [(ngModel)]="profil&&profil.prenom" #prenom="ngModel" class="form-control"
                                              placeholder="Prénom" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="date" onkeydown="return false" name="date_naissance" required
                                              [(ngModel)]="profil&&profil.dns" #date_naissance="ngModel"
                                              class="form-control" max="{{this.actualDate | date:'yyyy-MM-dd'}}" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <input type="text" name="identite" required
                                              [(ngModel)]="profil&&profil.cin?profil.cin:profil.num_passport"
                                              #identite="ngModel" class="form-control"
                                              placeholder="Identité utilisateur" />
                                          </div>
                                        </td>
                                      </tr>


                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->

                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <input type="tel" class="form-control" placeholder="N°Téléphone" required
                                              [(ngModel)]="profil&&profil.num_tel" #tel="ngModel" name="tel" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <input type="email" class="form-control" placeholder="Email" required
                                              [(ngModel)]="profil&&profil.email" #email="ngModel" name="email" />
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-user"></i></label></span>
                                            <select ngModel="{{ profil&&profil.id_departement }}"
                                              #id_departement="ngModel" name="id_departement" class="form-control"
                                              required>
                                              <option value="3">Technologie de l'informatique</option>
                                              <option value="4">Agro alimentaire</option>
                                              <option value="5">Mécanique</option>
                                              <option value="6">Electrique</option>
                                              <option value="7">Génie civil</option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"><label class="input-group-text"><i
                                                  class="icofont icofont-location-pin"></i></label>
                                            </span>
                                            <!-- <input type="file" class="form-control" (change)="changecv($event)" /> -->
                                          </div>
                                        </td>
                                      </tr>


                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                            <div class="text-center">
                              <a href="javascript:;"
                                class="btn btn-primary waves-effect waves-light m-r-20">Enregistrer</a>
                              <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect"
                                (click)="toggleEditProfile()">annuler</a>
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </form>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>
  </div>
</div>
