<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile">
      <div class="profile-bg-img">
        <img
          class="profile-bg-img img-fluid"
          src="assets/images/user-profile/intern1.jpg"
          alt="bg-img"
          style="height: 200px;"
        />
        <div class="card-body user-info">
          <div class="col-md-12">
            <div class="media-left">
              <a class="profile-image">
                <img
                  class="user-img img-radius"
                  id="profil-photo"
                  [src]="profil && profil.photo"
                  alt="user-img"
                />
              </a>
            </div>
            <div class="media-body row">
              <div>
                <div class="pull-right cover-btn">
                  <div
                    class="file-upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  >
                    <button class="btn btn-primary m-b-10 m-r-10">
                      <input
                        type="file"
                        accept="image/*"
                        (change)="changephoto($event)"
                        name="FileAttachment"
                        id="FileAttachment"
                        class="upload"
                      />
                      <i class="icofont icofont-plus"></i>
                      PHOTO
                    </button>
                  </div>
                  <script>
                    document.getElementById("FileAttachment").onchange =
                      function () {
                        document.getElementById("fileuploadurl").value =
                          this.value.replace(/C:\\fakepath\\/i, "");
                      };
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--profile cover end-->
<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset [activeId]="actifTabid">
        <ngb-tab title="Mes informations" [id]="0">
          <ng-template ngbTabContent>
            <div class="m-t-15">
              <!-- personal card start -->
              <div class="card">
                <div class="card-header">
                  <button
                    id="edit-btn"
                    type="button"
                    class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="toggleEditProfile()"
                  >
                    <i class="icofont {{ editProfileIcon }}"></i>
                  </button>
                </div>
                <div class="card-body">
                  <div class="view-info" *ngIf="editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">Nom</th>
                                      <td>{{ profil && profil.nom }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Prénom</th>
                                      <td>{{ profil && profil.prenom }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Date naissance</th>
                                      <td>
                                        {{
                                          profil && profil.date_naissance
                                            | date: "dd/MM/yyyy"
                                        }}
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Identité utilisateur</th>
                                      <td>
                                        {{ profil && profil.cin && profil.cin }}
                                      </td>
                                      <td>
                                        {{
                                          profil &&
                                            profil.num_passport &&
                                            profil.num_passport
                                        }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">N°Téléphone</th>
                                      <td>{{ profil && profil.num_tel }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>
                                        <a>{{ profil && profil.email }}</a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Département</th>
                                      <td>{{ profil && profil.libelle }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">C.V</th>
                                      <td>
                                        <a
                                          *ngIf="profil && profil.fichier_cv"
                                          [href]="profil && profil.fichier_cv"
                                          target="_blank"
                                          >OUVRIR</a>&nbsp;&nbsp;&nbsp;
                                          <a
                                          *ngIf="profil && profil.fichier_cv"
                                          id="a-del"
                                          (click)="this.deletecv()"
                                          >SUPPRIMER</a>
                                        <span
                                          *ngIf="profil && profil.fichier_cv == null"
                                          >AUCUN C.V</span
                                        >
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- <div class="container">

                            <div class="row">

                              <button type="button"
                              class="col-md-3 col-lg-2 offset-lg-5  btn btn-primary mt-5"
                              (click)="postulerOffre()">
                                <i class="icofont icofont-location-arrow"></i>
                                Envoyer
                              </button>
                            </div>
                          </div> -->
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <div class="edit-info" *ngIf="!editProfile">
                    <div class="row">
                      <div class="col-lg-12">
                        <form
                          name="form"
                          (ngSubmit)="submit(fprofil)"
                          #fprofil="ngForm"
                          novalidate
                        >
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-user"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="nom"
                                              required
                                              [(ngModel)]="profil && profil.nom"
                                              #nom="ngModel"
                                              class="form-control"
                                              placeholder="Nom"
                                            />
                                          </div>
                                          <div
                                            *ngIf="nom.invalid && nom.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le nom
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-user"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="prenom"
                                              required
                                              [(ngModel)]="
                                                profil && profil.prenom
                                              "
                                              #prenom="ngModel"
                                              class="form-control"
                                              placeholder="Prénom"
                                            />
                                          </div>
                                          <div
                                            *ngIf="prenom.invalid && prenom.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le prénom
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-calendar"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="date"
                                              onkeydown="return false"
                                              name="date_naissance"
                                              required
                                              ngModel="{{profil && profil.date_naissance| date: 'yyyy-MM-dd'}}"
                                              #date_naissance="ngModel"
                                              class="form-control"
                                              max="{{this.actualDate| date: 'yyyy-MM-dd'}}"
                                            />
                                          </div>

                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-card"
                                                ></i></label
                                            ></span>
                                            <input
                                              type="text"
                                              name="identite"
                                              required
                                              [(ngModel)]="
                                                profil && profil.cin
                                                  ? profil.cin
                                                  : profil.num_passport
                                              "
                                              #identite="ngModel"
                                              class="form-control"
                                              placeholder="Identité utilisateur"
                                            />
                                          </div>
                                          <div
                                            *ngIf="identite.invalid && identite.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir l'identité
                                          </div>

                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->

                              <div class="col-lg-6">
                                <div class="table-responsive">
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-phone"
                                                ></i
                                              ></label>
                                            </span>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="N° Téléphone"
                                              required
                                              [(ngModel)]="profil && profil.num_tel"
                                              #num_tel="ngModel"
                                              name="num_tel"
                                            />
                                          </div>
                                          <div
                                            *ngIf="num_tel.invalid && num_tel.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir le N° téléphone
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-email"
                                                ></i
                                              ></label>
                                            </span>
                                            <input
                                              type="email"
                                              class="form-control"
                                              placeholder="Email"
                                              required
                                              [(ngModel)]="
                                                profil && profil.email
                                              "
                                              #email="ngModel"
                                              name="email"
                                            />
                                          </div>
                                          <div
                                            *ngIf="email.invalid && email.touched"
                                            class="alert alert-danger p-2"
                                            role="alert"
                                          >
                                            Saisir l'email
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-brand-myspace"
                                                ></i></label
                                            ></span>
                                            <select
                                              ngModel="{{
                                                profil && profil.id_departement
                                              }}"
                                              #id_departement="ngModel"
                                              name="id_departement"
                                              class="form-control"
                                              required
                                            >
                                              <option value="3">
                                                Technologie de l'informatique
                                              </option>
                                              <option value="4">
                                                Agro alimentaire
                                              </option>
                                              <option value="5">
                                                Mécanique
                                              </option>
                                              <option value="6">
                                                Electrique
                                              </option>
                                              <option value="7">
                                                Génie civil
                                              </option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="input-group">
                                            <span class="input-group-prepend"
                                              ><label class="input-group-text"
                                                ><i
                                                  class="icofont icofont-file"
                                                ></i
                                              ></label>
                                            </span>
                                            <input
                                              type="file"
                                              class="form-control"
                                              (change)="changecv($event)"
                                              ngModel
                                              #cv="ngModel"
                                              name="cv"
                                            />
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                            <div class="text-center">
                              <button
                              [disabled]="fprofil.invalid"
                                type="submit"
                                class="btn btn-primary waves-effect waves-light m-r-20"
                                >Enregistrer
                              </button>
                              <a
                                href="javascript:;"
                                id="edit-cancel"
                                class="btn btn-default waves-effect"
                                (click)="toggleEditProfile(true)"
                                >annuler</a
                              >
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </form>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-body -->
              </div>
              <!-- personal card end-->
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Compétences" [id]="1">
          <ng-template ngbTabContent>
            <div class="m-t-15">
              <!-- info card start -->
              <div class="card">
                <div class="card-header">
                  <button
                    type="button"
                    class="btn btn-outline-primary col-12 col-md-3 offset-md-9 mt-3 w-100"
                    (click)="this.addComptence()"
                  >
                    Nouvelle compétence
                  </button>
                </div>
                <ng-container *ngFor="let item of this.listCompetence">
                <div *ngIf="item" class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                        <div
                          class="card b-l-success business-info services m-b-20"
                          style="background-color: #f0fbfc"
                        >
                          <div ngbDropdown class="card-header">
                            <div class="service-header">
                              <a href="javascript:;">
                                <h5 class="card-header-text">
                                  {{ item.libelle }}
                                </h5>
                              </a>
                            </div>
                            <button
                              ngbDropdownToggle
                              class="dropdown-toggle addon-btn text-muted f-right service-btn"
                              style="border: none"
                              id="dropdownBasic1"
                            >
                              <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div
                              ngbDropdownMenu
                              aria-labelledby="dropdownBasic1"
                            >
                              <button
                                ngbDropdownItem
                                (click)="openUpdateComp(item)"
                              >
                                <i class="icofont icofont-edit-alt"></i>Modifier
                              </button>
                              <button
                                (click)="
                                  this.openDeleteComp(item.id_competence)
                                "
                                ngbDropdownItem
                              >
                                <i class="icofont icofont-trash"></i>Supprimer
                              </button>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-12">
                                <!-- <p class="task-detail" *ngIf="item.niveau=='0'">Débutant</p> -->
                                <div>
                                  <span
                                    class="fa fa-star checked text-primary"
                                  ></span>
                                  <span
                                    [class]="
                                      item.niveau == '0'
                                        ? 'fa fa-star '
                                        : 'fa fa-star checked text-primary'
                                    "
                                  ></span>
                                  <span
                                    [class]="
                                      item.niveau == '0' || item.niveau == '1'
                                        ? 'fa fa-star'
                                        : 'fa fa-star checked text-primary'
                                    "
                                  ></span>
                                  <span
                                    [class]="
                                      item.niveau == '3' || item.niveau == '4'
                                        ? 'fa fa-star checked text-primary'
                                        : 'fa fa-star'
                                    "
                                  ></span>
                                  <span
                                    [class]="
                                      item.niveau == '4'
                                        ? 'fa fa-star checked text-primary'
                                        : 'fa fa-star'
                                    "
                                  ></span>
                                </div>
                              </div>
                              <!-- end of col-sm-8 -->
                            </div>
                            <!-- end of row -->
                          </div>
                          <!-- end of card-body -->
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <!-- info card end -->
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Expériences" [id]="2">
          <ng-template ngbTabContent>
            <div class="m-t-15">
              <div class="card">
                <div class="card-header">
                  <button
                    type="button"
                    class="btn btn-outline-primary col-12 col-md-3 offset-md-9 mt-3 w-100"
                    (click)="this.addExperience()"
                  >
                    Nouvelle expérience
                  </button>
                </div>

                <ng-container *ngFor="let item of this.listExperience">
                  <div *ngIf="item" class="card-body">
                    <ul class="media-list">
                      <div ngbDropdown class="card-header">
                        <button
                          ngbDropdownToggle
                          class="dropdown-toggle addon-btn text-muted f-right service-btn"
                          style="border: none"
                          id="dropdownBasic1"
                        >
                          <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button
                            ngbDropdownItem
                            (click)="openUpdateExper(item)"
                          >
                            <i class="icofont icofont-edit-alt"></i>Modifier
                          </button>
                          <button
                            ngbDropdownItem
                            (click)="openDeleteExper(item.id_experience)"
                          >
                            <i class="icofont icofont-trash"></i>Supprimer
                          </button>
                        </div>
                      </div>
                      <li class="media">
                        <div class="media-body">
                          <h4>
                            {{ item.post
                            }}<span class="f-12 text-muted m-l-5"></span>
                          </h4>
                          <br />
                          <h5 class="media-heading">
                            Au sein de l'entreprise
                            <b>{{ item.nom_entreprise.toUpperCase() }}</b>
                          </h5>
                          <h5 class="media-heading">
                            de
                            {{
                              this.sharedService.formatDate(item.date_debut)
                            }}
                            jusqu'à
                            {{ this.sharedService.formatDate(item.date_fin) }}
                          </h5>
                          <p class="m-b-0">
                            {{ item.description }}
                          </p>
                          <hr />
                          <!-- Nested media object -->
                        </div>
                      </li>
                      <!-- Nested media object -->
                    </ul>
                  </div>
                </ng-container>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
