<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a [routerLink]="['/accueil']" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Stages</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a [routerLink]="['/accueil']"  class="nav-item nav-link">Accueil</a>
            <a [routerLink]="['/apropos']" class="nav-item nav-link">A propos</a>
            <a [routerLink]="['/contact']" class="nav-item nav-link">Contact</a>
            <a [routerLink]="['/espace/etudiant']" class="nav-item nav-link">Espace etudiant</a>
            <a [routerLink]="['/espace/entreprise']" class="nav-item nav-link">Espace entreprise</a>
        </div>
        <a [routerLink]="['/inscription']" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">S'inscrire<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->
